h1{
    font-size: 50px;
    text-align: center;
    border: 2px  black solid;
    margin: 0;
    padding: 20px;
    font-family: cursive;
    color: rgb(44, 156, 156);
    background-color: rgba(203, 236, 14, 0.808);
}

body{
    margin: 2px;
}

@font-face {
    font-family: 'nanum';
    src: url('./nanum.ttf');
}

#grid{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

#menu{
    border: 2px black solid; 
    border-top:0;       
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}

@media(max-width:720px){
   h1,body,#grid,a{
        display: block;
        font-size: 20px;
    }

}

